<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Estabelecimento</title>
</head>
<h1>Detalhes {{ estabelecimento.nome }}</h1>
<p><strong>Descrição:</strong> {{ estabelecimento.descricao }}</p>
<p><strong>Endereço:</strong> {{ estabelecimento.endereco }}</p>
<p><strong>Avaliação Média:</strong> {{ estabelecimento.avaliacao_media }}</p>
<a href="{% url 'avaliacao:adicionar_avaliacao' estabelecimento.id %}" class="btn btn-primary">Avaliar</a>

<h2>Avaliações:</h2>
<ul>
    {% for avaliacao in avaliacoes %}
        <li>
            <strong>Nota:</strong> {{ avaliacao.nota }} <br>
            <strong>Comentário:</strong> {{ avaliacao.comentario }} <br>
            <strong>Usuário:</strong> {{ avaliacao.usuario.username }} <br>
            <strong>Data:</strong> {{ avaliacao.data_criacao }}
            <a href="{% url 'avaliacao:excluir_avaliacao' avaliacao.id %}">Excluir</a>
        </li>
    {% empty %}
        <p>Sem avaliações para este estabelecimento.</p>
    {% endfor %}
</ul>
    <a href="{% url 'listar_estabelecimentos' %}">Voltar</a>
</body>
</html>