<h1>Estabelecimentos</h1>
<a href="{% url 'criar_estabelecimento' %}">Criar Novo Estabelecimento</a>
<ul>
    {% for estabelecimento in estabelecimentos %}
        <li>
            {{ estabelecimento.nome }} - {{ estabelecimento.descricao }}
            <a href="{% url 'editar_estabelecimento' estabelecimento.id %}">Editar</a>
            <a href="{% url 'deletar_estabelecimento' estabelecimento.id %}">Deletar</a>
            <a href="{% url 'avaliacao:adicionar_avaliacao' estabelecimento.id %}">Avaliar</a>
        </li>
    {% endfor %}
</ul>
