<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Categorias</title>
</head>
<body>
    <h1>Lista de Categorias</h1>
    <a href="{% url 'criar_categoria' %}">Adicionar Nova Categoria</a>
    <ul>
        {% for categoria in categorias %}
            <li>{{ categoria.nome }} 
                <a href="{% url 'editar_categoria' categoria.id %}">Editar</a> | 
                <a href="{% url 'excluir_categoria' categoria.id %}">Excluir</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
